[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim
[submodule "bundle/winmanager"]
	path = bundle/winmanager
	url = git://github.com/vim-scripts/winmanager
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/corntrace/bufexplorer
